h1, h2, h3, h4, h5, h6, nav li {
  font-family: 'Kiwi Maru', serif;

}

h3 {
   color: #1fc1ff;
   text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.se-nav-item {
    display: flex;
    margin: auto;
}

li.nav-logo {
    display: flex;
    margin: auto;
}


li.nav-item {margin: auto;}


i {
    margin: 10px;
}

.sale img {
    width: 100%;
    height: 80%;
    box-shadow: 1px 1px 5px grey;
}

.content {
    background: #00a1ffd4;
    text-align: center;
    box-shadow: 1px 1px 5px grey;
    padding: 10px;
}

.imgbox {
    box-shadow: 1px 1px 5px grey;
}

.imgbox img {
    width: 100%;
    height: 100%;
}

img.img-fluid {
    box-shadow: 2px 2px 5px grey;
}
